html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #010111;
}

.btns-group {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
}

.btns-group button {
    background-color: #ff6917;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 14px 40px;
    cursor: pointer;
    z-index: 0;
    margin: auto;
    display: block;
    border: 0;
    transition-duration: 0.6s;
}

.btns-group :hover {
    z-index: 1;
    background-color: #f4c91e;
    color: #000000;
}

.btns-load button {
    background-color: #1742a3;
    border: none;
    font-size: 20px;
    color: white;
    padding: 14px 40px;
    cursor: pointer;
    float: left;
    transition-duration: 0.4s;
}

.btns-load :hover {
    z-index: 1;
    background-color: #17a379;
    color: rgb(3, 3, 3);
}

#container,
canvas {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
}

canvas {
    background: white;
}